<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Favorite Food</title>-->
<!--  </head>-->

<!--  <body>-->
<!--    <h1>Favorite Food</h1>-->
<!--    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z">-->

    <!-- Insert Your Form Below -->

<!--<form method="POST" action="/food"      >-->
<!--  <p>Your Name: <input type="text" name="name"></p>-->
<!--  <p>Your Favorite Food: <input type="text" name="favorite_food"></p>-->
<!--  <input type="submit">-->
<!--</form>-->





<!--  </body>-->
<!--</html>-->



<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pizza</title>
  </head>

  <body>
    <h1>Make your own customize pizza</h1>
    <img src="https://img.grouponcdn.com/deal/nhjcKdKnuawjKX427U9F/GK-2048x1229/v1/c700x420.jpg">
      
<form method="POST" action="/pizza"      >
  <p>Username: <input type="text" name="name"></p>
  <p>Password: <input type="text" name="password"></p>
  <p> Toppings: <input type="text" name= "Toppings"></p>
  <input type="submit">
</form>





  </body>
</html>
