<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>suitKASE</title>
  </head>

  <body>
      
<form method="POST" action="/suitKASE"      >
  <p>Full Name: <input type="text" name="name"></p>
  <p>Email Address: <input type="text" name="Email Address"></p>
  <p> Phone Number: <input type="text" name= "Phone Number"></p>
  <button type="Submit"> Subscribe 😊 
  </button> 
</form>

  </body>
</html> 